# Capstone Project 1 Data Wrangling Notebook
Beginning to import and inspect raw datata for the capstone. The data is the artist and lyric information for the Billboard top 100 songs of the year from 1965-2015

In [68]:
# Imporing packages
import pandas as pd
import numpy as np
import os

In [69]:
# Importing and inspecting data, the encoding parameter was included because data could not be imported without it
bb = pd.read_csv('bb.csv', encoding='iso-8859-1')
bb.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

Checking to see if the data has all 100 songs per year shows that we have all 100 songs for each year. However this only shows that we have the songs and nothing about the lyrics.

In [70]:
#checking some basic aspects of the data, first, how many songs for each year?
year_count = bb.groupby('Year').size() # tells us 100 songs per year, as advertised.

Checking out the artist formatting, shows that it may be difficult to see all of the artists, because there are many titles in the later years that show many songs featuring other artists for example, Michael Jackson and Janet Jackson have many songs apart, but also have one song they performed together.

In [71]:
#Is there anything noticeably strange about artist formating?
artists = bb.groupby('Artist').size().sort_values(ascending=False)
artists.head()

Artist
madonna            35
elton john         26
mariah carey       25
michael jackson    22
janet jackson      22
dtype: int64

Identifying missing values in this data took a little bit of work because the missing values were not easy to identify. Nothing was labelled as NA or missing. After some prodding around with the data, I discovered that the empty lyrics fields were filled with either one space or two spaces.

In [72]:
# Figuring out how many/what values are missing from the data
# Looking at values that had missing lyrics, the actual most common missing lyrics were filled with '  '(two spaces)
blanks = [' ', '  ']

# Replacing blank values with NaN
nas = bb.replace(' ', np.nan)
nas = nas.replace('  ', np.nan)

nas_nums = nas[nas.Lyrics.isnull()].groupby('Year').size().sort_values(ascending=False)
nas_nums.head()

Year
1971    13
1972    12
1969    10
1996     9
1977     9
dtype: int64

After discussing with my mentor, we have decided to simply drop the songs with missing lyrics, as re-scraping for missing songs would take a significant amount of time. The next code will drop the NAN values from the dataset.

In [73]:
# Removing the NaN values
new_dat = nas[pd.notnull(nas.Lyrics)]

# Recalculating how many songs are left
songs = new_dat.groupby('Year').size().sort_values()

After removing the songs with missing lyrics, there are only two years with less than ninety songs. There is now an average of around 95 songs per year. Next, I am going to check for instrumental songs, because since this project is going to focus on using lyrics to predict what decade a song is from, instrumental songs will not be useful in contributing to the model.

In [74]:
# Checking for songs labelled as instrumental
instrum = new_dat[new_dat.Lyrics == 'instrumental']
# This seems to be all of the instrumental songs.

# Removing the instrumental songs and recalculating what the new numbers of songs are for each year.
new_dat = new_dat[new_dat.Lyrics != 'instrumental']
songs1 = new_dat.groupby('Year').size().sort_values()

After removing the instrumental songs from the data, three years now have less than ninety songs, however the average number os songs per year was not changed too significantly, it is still slightly higher than 95. The next task I am going to try to approach is looking for songs that have artist names and song structure words randomly in the lyrics.

In [75]:
# checking out lyrical errors. some songs have obvious errors from scraping and need to be looked at a bit further. Since I
# believe this to be a result of the scraping process, I think the errors will come from specific sources.

#looking at sources
source = new_dat.groupby('Source').size()

# most lyrics came from source 1 in the data set(currently 37974 entries), and none of these have easily percieveable errors.
l1 = new_dat[new_dat.Source == 1]

# the lyrics from source 3 seem to have some of the artist names and genres randomly in lyrics.
l3 = new_dat[new_dat.Source == 3]

# the lyrics from source five also don't seem to have these errors as obivously as source 3, besides there being one entry 
# with verse in it observed by lyrics
l5 = new_dat[new_dat.Source == 5]

After looking at the hypothesis that lyrics were messed up based on source, I'm not particularly sure if one source is much more erroneous than another. Since that is the case, I will be looking at all of the data in order to try to find where some of these errors are happening. The following code taskes care of cleaning the songs addressing the problems described, fixinf the most easily identifiable error patterns. This mostly involved songs that had strange patterns like starting with artist name or other problems described in the code comments.

In [76]:
def clean_text(row):
    # This function is going to clean the text in the dataframe
    # setting up variables
    song = row[1]
    art = row[2]
    lyr = row[4]
    
    # replacing lyrics based off what was observed in data cleaning steps
    if lyr.startswith(art):
       lyr = lyr.replace(row['Artist'], "", 1)
    
    if lyr.startswith(' miscellaneous'):
       lyr = lyr.replace(' miscellaneous', "", 1)
    
    if lyr.startswith(' artist'):
        tes.at[index, 'Lyrics'] = lyr.replace(' artist', "", 1)
    if lyr.startswith(' '+art):
       tes.at[index, 'Lyrics'] = lyr.replace(' ' + art, "", 1)
    
    if 'chorus' in lyr:
        lyr = lyr.replace('chorus', '')
    if 'verse' in lyr:
        lyr = lyr.replace('verse', '')
        
    row[4] = lyr
    return row

    
# Finally I'm going to store the tes data frame back into new_dat
new_dat = new_dat.apply(clean_text, axis=1)

Next I am going to set up the data to be indexed by decades, by performing a quick calculation on year in order to calculate the ecade of the song, and then set the index to the decades, since that is what I will be using in my model.

In [77]:
# Creating the decades column to be used as the index
new_dat['Decade'] = new_dat['Year'] // 10 * 10
new_dat.groupby('Decade').size()

Decade
1960    459
1970    914
1980    960
1990    952
2000    974
2010    592
dtype: int64

Observing the new decade data, we can see overall what data remain from the cleaning steps that have been taken. the 1960's have the least amount of data, with the 80's, 90's, and 00's each having relatively the same amount. The 2010's are also missing quite a bit relative to the other decades considering they are missing several years as well. The last things to do to the data are drop the source column since it is irrelevant and export the data to a new csv file.

In [78]:
# Dropping the scource column from the data
new_dat = new_dat.drop(columns='Source')
new_dat.head()

,Rank,Song,Artist,Year,Lyrics,Decade
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,1960
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1960
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1960
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1960
5,6,downtown,petula clark,1965,when youre alone and life is making you lonel...,1960

In [79]:
# Exporting the data to a new csv
new_dat.to_csv('clean_songs.csv')

# Artifacts
The code below is not actually a real part of the document, but has been stored for posterity to remind me specifically of what I had been doing through this project.

In [66]:
def clean_text(row):
    # This function is going to clean the text in the dataframe
    # setting up variables
    song = row[1]
    art = row[2]
    lyr = row[4]
    
    # replacing lyrics based off what was observed in data cleaning steps
    if lyr.startswith(art):
       lyr = lyr.replace(row['Artist'], "", 1)
    
    if lyr.startswith(' miscellaneous'):
       lyr = lyr.replace(' miscellaneous', "", 1)
    
    if lyr.startswith(' artist'):
        tes.at[index, 'Lyrics'] = lyr.replace(' artist', "", 1)
    if lyr.startswith(' '+art):
       tes.at[index, 'Lyrics'] = lyr.replace(' ' + art, "", 1)
    
    if 'chorus' in lyr:
        lyr = lyr.replace('chorus', '')
    if 'verse' in lyr:
        lyr = lyr.replace('verse', '')
        
    row[4] = lyr
    return row

test = new_dat.apply(clean_text, axis=1)
test.head()

,Rank,Song,Artist,Year,Lyrics,Decade
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,1960
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1960
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1960
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1960
5,6,downtown,petula clark,1965,when youre alone and life is making you lonel...,1960

In [ ]:
# Fixing songs with the artist name in them
old = new_dat
tes = new_dat
teser = []

# This checks for data that starts with the artist name, then replaces the artist name at the beginning
for index, row in tes.iterrows():
    art = row['Artist']
    lyr = row['Lyrics']
    if lyr.startswith(art):
       tes.at[index, 'Lyrics'] = lyr.replace(row['Artist'], "", 1)
       teser.append(index)

# many of the lyrics here have miscellaneous after artist name, so to remove it
for index, row in tes.loc[teser].iterrows():
    lyr = row['Lyrics']
    if lyr.startswith(' miscellaneous'):
       tes.at[index, 'Lyrics'] = lyr.replace(' miscellaneous', "", 1)

# This gets rid of songs that radnomly have song names once/twice at the beginning, this may accidentally remove an extra phrase
# from a song, however this is the cleanest solution I thought to use without schecking each track individually
for index, row in tes.loc[teser].iterrows():
    song = row['Song']
    lyr = row['Lyrics']
    if lyr.startswith(' ' + song):
        tes.at[index, 'Lyrics'] = lyr.replace(' ' + song, "", 2)
        
# now, the most obvious mistakes are songs starting with the word 'artist' an then the artist name again, so to address those
# errors:
for index, row in tes.loc[teser].iterrows():
    art = row['Artist']
    lyr = row['Lyrics']
    if lyr.startswith(' artist'):
        tes.at[index, 'Lyrics'] = lyr.replace(' artist', "", 1)
    if lyr.startswith(' '+art):
       tes.at[index, 'Lyrics'] = lyr.replace(' ' + art, "", 1)